.container-product {
    min-width: 1200px;
    width: 1200px;
    margin: 0 auto;
}

.container-product .header {
    text-align: center;
    color: deepskyblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';
}

.lts-products {
    display: flex;
    flex-flow: wrap;
    animation: append .2s ease-in-out;
}

.lts-products .item {
    margin: 0 10px 10px 0;
    width: calc(1 / 5 * 100% - (2 - 6 / 4) * 20px);
    background: #fff;
    box-shadow: 0 4px 6px #00000029;
    border-radius: 8px;
    text-align: center;
    position: relative;
}

.lts-products .item .img {
    width: 190px;
    margin: 20px auto 0 auto;
}

.lts-products .item .img img {
    width: 100%;
}

.lts-products .item .img img:hover {
    filter: brightness(100%);
    transform: scale(1.2);
}

.lts-products .item .info {
    margin-top: 5px;
    padding: 0 10px 15px 10px;
}

.lts-products .item button {
    margin-bottom: 8px;
}

.lts-products .item .info a.title, .lts-product .item .info a.title:link, .lts-product .item .info a.title:visited {
    color: #000;
    font-weight: bold;
    display: block;
}

.lts-products > .item > .info > a:hover {
    text-decoration: none;
    color: #00483d;
}

.lts-products .item .info .price strong {
    font-size: 16px;
    color: #fd475a;
}

.item > .sticker-left {
    border-radius: 53%;
    float: right;
    background-color: red;
    display: inline-block;
    color: floralwhite;
    width: 18%;
}

.item > .sticker-left > span {
    font-size: 86%;
}


/* css container slider */
body {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p {
    color: #b3b3b3;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a, a:hover {
    text-decoration: none !important;
}

.content {
    padding-bottom: 1rem;
}

h2 {
    font-size: 20px;
}

.owl-1 .owl-nav {
    width: 100%;
    position: absolute;
    top: 50%;
}

.owl-1 .owl-nav .owl-next,
.owl-1 .owl-nav .owl-prev {
    border: 1px solid red;
    z-index: 92;
    position: absolute;
    top: 50%;
}

.owl-1 .owl-nav .owl-next:active, .owl-1 .owl-nav .owl-next:focus,
.owl-1 .owl-nav .owl-prev:active,
.owl-1 .owl-nav .owl-prev:focus {
    outline: none;
}

.owl-1 .owl-nav .owl-next span,
.owl-1 .owl-nav .owl-prev span {
    color: #fff;
}

.owl-1 .owl-nav .owl-next span:before,
.owl-1 .owl-nav .owl-prev span:before {
    font-size: 40px !important;
}

.owl-1 .owl-nav .owl-next {
    border: 4px solid blue;
    right: 20px;
}

.owl-1 .owl-nav .owl-prev {
    left: 20px;
}

.owl-1 .owl-dots {
    position: absolute;
    bottom: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.owl-1 .owl-dots .owl-dot {
    background: none;
    display: inline-block;
}

.owl-1 .owl-dots .owl-dot > span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    margin: 4px;
}

.owl-1 .owl-dots .owl-dot.active > span {
    background: white;
}

.owl-1 .owl-dots .owl-dot:active, .owl-1 .owl-dots .owl-dot:focus {
    outline: none;
}


